{% extends 'base.html.twig' %}




{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 'playfair display'; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
<!--Footer-->
<footer class="bg-transparent text-lg-start">
      <hr class="m-0" />

      <div class="text-center py-4 align-items-center">
        <p>On se retrouve sur les réseaux ?</p>
        <a
          href="https://www.facebook.com/people/Cdemoiselles/100082525371571/"
          class="btn btn-dark m-1"
          role="button"
          rel="nofollow"
          target="_blank"
          
        >
          <i class="fab fa-facebook-f"></i>
        </a>
        <a
          href="https://www.instagram.com/cdemoiselles/"
          class="btn btn-dark m-1"
          role="button"
          rel="nofollow"
          target="_blank"
       >
        <i class="bi bi-instagram"></i>
        </a>
      </div>

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: #8C165D;">
      © 2023 Copyright: GAMING CAMPUS - FORMATION DWWM
      </div>
      <!-- Copyright -->
    </footer>
    <!--Footer-->


</body>

</html> 
{% endblock %}
